# compiled output
server/dist
server/node_modules

# Logs
logs
*.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/lerna-debug.log*

# OS
server/.DS_Store

# Tests
server/coverage
server/.nyc_output

# IDEs and editors
server/.idea
server/.project
server/.classpath
server/.c9/
server/*.launch
server/.settings/
server/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

server/.env
server/node_modules
server/dist

client/node_modules
client/.env
client/build
